h1 {
    color: lightgray;
    background-color: black;
    text-align: center;
}

body {
    background-color: black;
    background-image: url('/HTML/images/background\ clear.jpg')
}

img {
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p {
    background-color: black;
    color: white;
    font-size: 20px;
}

ul {
    background-color: black;
    color: white;
    font-size: 20px;
}

a:visited {
    color: gray;
}

iframe {
    width: 50%;
    height: 25%
}

#copperPhoto {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}